:root{
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}

*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

body{
    min-height: 100vh;
}

body,
p,
h1{
    margin: 0;
}

/* App */
.App,
.container{
    display: flex;
    flex-direction: column;
}
.App{
    height: 100vh;
}
.container{
    background-image: url(../assets/pattern-bg-mobile.png);
    background-repeat: no-repeat;
    align-items: center;
    padding-bottom: 6rem;
    position: relative;
}
.container h1{
    color: white;
    padding: 1rem;
}
.container span{
    color: red;
}

/* Search */
.search{
    display: flex;
    border-radius: 1rem;
    min-width: 40%;
    padding-bottom: 1rem;
    width: 80%;
}
.search__input{
    font-size: 16px;
    border: none;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
    width: 85%;
}
.search__input:focus{
    outline: none;
}
.search__button{
    background-image: url(../assets/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--very-dark-gray);
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    width: 15%;
}

/* Map */
#map{
    height: 100%;
}

/* Display */
.display{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 60%;
    z-index: 2000;
    border-radius: 1rem;
    width: 80%;
}
.display hr{
    display: none;
}
.display__box{
    padding: 1rem 2rem;
}
.display__option{
    color: var(--dark-gray);
    text-transform: uppercase;
    font-weight: 500;
    font-size: .7em;
    letter-spacing: .2em;
}
.display__output{
    color: var(--very-dark-gray);
    font-weight: 700;
    font-size: 1.2em;
}

/* Media Query */
@media screen and (min-width: 376px) {
    .container{
        background-image: url(../assets/pattern-bg-desktop.png);
    }
}

@media screen and (min-width: 846px) {
    .search{
        width: auto;
    }
    .display{
        flex-direction: row;
        align-items: center;
        top: 80%;
    }
    .display hr{
        display: inline;
        height: 3rem;
        border: rgba(128, 128, 128, 0.24) solid .1em;
    }
    .display__box{
        width: 100%;
    }
    .display__option{
        padding-bottom: .5rem;
    }
}